.admonition.tip {
    background-color: oklch(0.7592 0.2303 142.89 / 20%);
    color: rgb(49, 49, 49);
    border-color: oklch(0.4078 0.1296 142.73 / 20%);
}


.admonition.warning {
    background-color: oklch(66.554% 0.2213 25.559 / 0.2);
    color: rgb(49, 49, 49);
    border-color: oklch(30.421% 0.11003 26.799 / 0.2);
}

.admonition.note {
    background-color: oklch(72.22% 0.15313 246.787 / 0.2);
    color: rgb(49, 49, 49);
    border-color: oklch(30.947% 0.08552 254.951 / 0.2);
}

/* 정의 (초록) */
.g {
  background-color: transparent;
  color: #228B22;
  font-weight: 600;
}

/* 프로그램 구조 (빨강) */
.r {
  color: #8B0000;
  font-weight: 600;
}

/* 변수 / 상수 (파랑) */
.b {
  color: #00008B;
  font-weight: 600;
  font-family: monospace;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
