.admonition.tip {
    background-color: oklch(0.7592 0.2303 142.89 / 20%);
    color: oklch(0.4078 0.1296 142.73);
    border-color: oklch(0.4078 0.1296 142.73 / 20%);
}


.admonition.warning {
    background-color: oklch(66.554% 0.2213 25.559 / 0.2);
    color: oklch(38.719% 0.14704 27.643);
    border-color: oklch(30.421% 0.11003 26.799 / 0.2);
}