.admonition.tip {
    background-color: rgba(56, 211, 56, 0.2);
    color: rgb(12, 90, 12);
    border-color: rgba(12, 90, 12, 0.2);
}

.admonition.tip {
    background-color: rgba(56, 211, 56, 0.2);
    color: rgb(12, 90, 12);
    border-color: rgba(12, 90, 12, 0.2);
}